/*stylesheet*/

body {
	color: #000;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

#wrapper {
	margin: 2em auto;
	max-width: 960px;
	padding: 0 20px;
}

.grid div {
	padding: 1rem;
	background-color: rgba(0,0,0,0.1)
}

#masthead {
	margin-bottom: 2rem;
}

#main {
	margin-bottom: 2rem;
}
