/*stylesheet*/


body {
	background-color: #fff;
	color: #000;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	background: url('../images/tile.jpg');
	background-repeat: repeat;
}

#wrapper {
	margin: 2em auto;
	max-width: 960px;
	padding: 0 20px;
}

.article {
	background-color: #F0F0F0;
	padding: 20px, 0;
	border-style: solid;
	border-width: 0.5px;
	border-color: #ad9fae;
	/* take out border? */
}

img {
	display: block;
	width: 100%;
	height: auto;
	margin: 20px, 0;
	/* having trouble adding padding here */
}


p {
	margin-left: 20px;
	margin-right: 20px;
	font-weight: 300;
	line-height: 1.6;
}

p.byline {
	font-size: 13px;
	color: #6A6A6A
}

h1 {
	margin-left: 20px;
	margin-top: 20px;
	padding-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: ;
}

.article a {
	text-decoration: none;
	color:#121212;
}

.article a:hover {
	color: #e4b3b7;
	text-decoration: underline;
}

ul.bottom {
	padding-bottom: 13px;
}

/* https://sneakernews.com/2020/03/03/air-dior-jordan-shoes-release-date-sneakernews-com/ */

